<section class="home">
  <div class="container">
    <article class="content">
      <header class="page-header">
      </header>
      <div class="features">
        <ul>
          <li ng-repeat="item in items | orderBy:'name'">
            <img ng-src="/img/{{item.img}}" class='circle'/>
            <h2>{{item.name}}</h2>
            <p>{{item.tag_line}}</p>
            <ul ng-repeat="item in genreList">
              <li ng-repeat="genre in genres" ng-if="genre[item].length > 0">
                {{item}}:
                {{ genre[item] }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
